.current {
  align-content: center;
  margin-top: 50px;
  margin-right: 50px;
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(8px);
  border-radius: 25px;
  padding: 20px
}

.row {
  text-align: center;
  font-size: large;
}

.city {
  font-size: 35px;
  text-decoration-line: underline;
}

.current-temp {
  font-size: 20px;
}

.current-emoji {
  font-size: 30px;
}

.current-date {
  font-size: 15px;
  line-height: 7px;
}

.loader {
  margin: 60px auto;
}
